.ag-header-cell{
  width: 100%;
}

.grid-here{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */         /* Full viewport width */
  margin: 0;
  padding: 0;
}
