.grid-here{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */         /* Full viewport width */
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}
.history{
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}
